/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
 
aside,details,footer,header, main,nav,section{
    display: block;
}
a:focus {
    outline: thin dotted;
}
a:active,a:hover {
    outline: 0;
}
   
p{
    margin: 16px 0;
}

/**
 * Address margins set differently in IE 6/7.
 */
menu, ol, ul {
    margin: 1em 0;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu, ol, ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    padding:0;
    margin:0;
}
 
/* typography */
body{  
     background:#fff;
    color:#666; 
    font-size:16px;
    margin-top: 1px;
    line-height:22px; 
    font-weight:normal;
    font-family: sans-serif;
    


}
h1, h2, h3, h4, h5, h6{
    font-weight:400;    
    line-height:24px;
    margin:7px 0;
    padding:0;
} 

/* links */
a,
a:visited,
a:active,
a:hover{color:#0099ff;}
a:hover{ text-decoration:none;}

/* structure */   
.wrapper{
    width: 1024px;
    margin: 0 auto;
}

 
 header{
        padding:0;
 }
 #content {  
        float:left;
        width:810px;
}

 aside { 
        float:right;
        width:210px;
        margin-top: 5px;
    }
   

#v_head
{

background: url('../images/back1.png');
height: 180px;
padding: 20px 0 20px 0;

}

#banner
{ 
text-align:center;
position: absolute;
top:1px;

}

#banner a img
 {
width: 400px;
margin-top: 4px;
background-repeat:no-repeat;
background-attachment:fixed;
}

#lg
{

margin-top: 5px;
float: right;
margin-right: 20px;
}

#lg a {
    color:#FFF;
    text-decoration:none;
    font-size:16px;
}
#lg a:hover{   
    color:#4CFF00 !important
}

#contact
{

font-weight: bold;
padding: 50px 20px 0 0;
color: white;
font-size: 12px;
}

*{  box-sizing:border-box;
   -moz-box-sizing:border-box;}

#page-header
{ 
 padding-left: 10px;
 margin-top: -18px;
 margin-bottom: -10px;
 }
#page-header h3{
 font-weight: bolder;
 margin:0;  
}
 /*Page header ends*/


/*Main menu starts*/
 .srt-menu{
    clear:both;
    margin-bottom:60px;

}
.srt-menu li a {
    color:#FFF;
    display:block;
    margin:1px 0; 
    padding:10px;
    text-decoration:none;
    font-size: 14px;
}
.srt-menu li a:hover{   
    color:#4CFF00 !important
}
.srt-menu li li a {
    background:#848484;
    padding-left:40px;
}
  #menu-main-navigation{display:block;}

    .srt-menu, .srt-menu * {
        margin:         0;
        padding:        0;
        list-style:     none;
    }
    .srt-menu ul {
        position:       absolute;
        display:none;
        width:          192px; /* left offset of submenus need to match (see below) */
    }
    .srt-menu ul li {
        width:          100%;
    }
    .srt-menu li:hover {
        visibility:     inherit; /* fixes IE7 'sticky bug' */
    }
    .srt-menu li {
        float:          left;
        position:       relative;
        margin-left:1px;
        height:25px;
    }

    .srt-menu li li {
        margin-left:0px;
        height:auto;
    }
    .srt-menu a {
        display:        block;
        position:       relative;
    }
    .srt-menu li:hover ul,
    .srt-menu li.sfHover ul {
        display:block;
        left:           0;
        top:            35px; /* match top ul list item height */
        z-index:        99;
        -webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
        box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    }
    ul.srt-menu li:hover li ul,
    ul.srt-menu li.sfHover li ul {
        top: -999em;
    }
    ul.srt-menu li li:hover ul,
    ul.srt-menu li li.sfHover ul {
        left:           192px; /* match ul width */
        top:            0;
    }
    ul.srt-menu li li:hover li ul,
    ul.srt-menu li li.sfHover li ul {
        top:            -999em;
    }
     
    #topnav, .srt-menu {
        float:right;
        margin: 15px 8px;
         clear: both;
       
    }
    .srt-menu a {
        text-decoration:none;
    }
    .srt-menu li a{
              margin:0; 
          }
    .srt-menu a, .srt-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
        color:          #666;   
    }
    .srt-menu li li a {
        border-top:     1px solid rgba(255,255,255,.2);
        background:     #333; /*fallback for old IE*/
        background:rgba(0,0,0,.6);
        color:  #fff;
        padding-left:20px;
    }
    .srt-menu li li a:visited{color:#fff;}
    .srt-menu li li li a,
    .srt-menu li.current * li a{
        padding-left:20px;
        background:rgba(0,0,0,.6);
    }

    .srt-menu li:hover > a,
    .srt-menu li.current a{ 
        color:#fff;
      
    }
    .srt-menu li li:hover > a{
        color:#fff;
        }
/*Main menu ends*/

/*SECONDARY MENU*/
#secondary-navigation{
    margin-top: 10px;
    margin-bottom:60px;
}
#secondary-navigation ul{
    margin:0;
    padding:0;
}
#secondary-navigation ul li a{ 
 background: none repeat scroll 0 0 #670403;
    color: #fff;
    display: block;
    margin: 3px 0;
    padding: 8px;
    text-decoration: none;
}
#secondary-navigation ul li a:hover
{
    background:#848484;
   color:#4CFF00 !important
}

/* Intro section starts*/
 .intro{
    color: #860f08;
    display: inline-block;
    font-family: Times,"Times New Roman",Georgia,serif;
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    line-height: normal;
    margin-left:-7px;
  
 }
#para_id
{
text-align: justify;
margin-top: 0px;
}
/* Intro section ends*/
/*-- Our specialties  image gallery starts--*/   
 #gallery{
    position:relative;
    margin:10px auto 0;
    display:block;
    width:100%;
    padding-bottom:6px;
     }

#gallery ul{
    margin:0;
    padding-left:10px;
    padding-right:0px; 
    list-style:none;
    }

#gallery li{
    display:block;
    float:left;
    margin:0 10px 5px 0;
    padding:0;
    }

#gallery li a img{
    display:block;
    width:250px;
    height:150px;
    margin:0;
    padding:5px;
    border:4px solid  #eae9d4;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
    opacity:0.8;     
    }
    #gallery li a:hover img{
    border-color:#860f08;
     opacity:1.0;
     }

#gallery li.last{
    margin-right:0;
    }

 .desc
{
  text-align: center;
  font-weight: normal;
  margin: 2px;
  padding-left: 5px;
  color: #860f08;
}

.bar
 { 
   height: 40px;
 
   padding-left:5px;
    margin-bottom:-17px;
    margin-top: 15px;
 }
  
 .bar .ss1{
     font-weight:bold;
font-size:25px;
font-style: oblique;
color:#860f08;
font-family: Times, "Times New Roman", Georgia, serif;
display: inline-block;
line-height: normal;      
position: relative;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}  .clear{clear:both;}
 

/*Our specialties area image gallery ends*/

/* Cuisines we offer image gallery starts*/


 
 ul.enlarge
 {
list-style-type:none; 
 margin-left: -30px;
margin-top: 25px;

}
ul.enlarge li{
display:inline-block; /*places the images in a line */
position: relative;
z-index: 0; /*resets the stack order of the list items - later we'll increase this /*places the images in a line */
margin:0 10px 5px 0;
}
ul.enlarge img{
background-color:#eae9d4;
padding: 0px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 4px; 
height: 150px;
width:250px;
}
ul.enlarge span
 {
height: 270px;
width:370px;
position:absolute;
left: -9999px;
background-color:#eae9d4;
padding: 5px;
font-family: 'Droid Sans', sans-serif;
font-size:12px;
text-align: center; 
color: #495a62; 
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
border-radius:8px;
}
ul.enlarge span img {
    height: 230px;
    width: 330px;
}


ul.enlarge li:hover{
z-index: 50;
cursor:pointer;
}
 


ul.enlarge span img{
padding:2px;
background:#ccc;
}
ul.enlarge li:hover span{ 
top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: 5px; /*distance from the left of the thumbnail to the left of the popup image*/
}
ul.enlarge li:hover:nth-child(2) span{
left: -100px; 
}
ul.enlarge li:hover:nth-child(3) span{
left: -200px; 
}
        /* Cuisines we offer image gallery ends*/

/* footer*/

/*FOOTER*/
 
 
 #attribution span {
        float: left;
       color: #fff;
        margin-left: 90px;
        padding: 10px 0;
        
    }
 

/* Contain floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.row:after{
    clear: both;
}
